@font-face {
    font-family: Grotesk-Regular;
    src: url(images/HKGrotesk-Regular.otf);
}

body {
    font-family:Grotesk-Regular;
    color: linen;
    font-weight: bolder;
}
.container {
    align-items: center;
    height: 500px;
    width: 500px;
    background: #58b1ee;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
}

#showTemp {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmax;
    font-family: Grotesk-Regular;
    cursor: pointer;
    align-items: center;
}

#result {
    font-size: 4vmax;
}